{include file="$begintempl" /}
<vxp-input class="{$class}" type="text" placeholder="{$placeholder}" v-bind="{$id}Op" v-model:value.lazy="{$VModel}"
    @blur="{$id}Blur(row, $event)" @change="{$id}Change" {$attr|raw}>
    {if condition="$befor"}
    <template #befor>{$befor|raw}</template>
    {/if}
    {if condition="$after"}
    <template #after>{$after|raw}</template>
    {/if}
    {if condition="$prefix"}
    <template #befor>{$prefix|raw}</template>
    {/if}
    {if condition="$suffix"}
    <template #after>{$suffix|raw}</template>
    {/if}
</vxp-input>
{include file="$endtempl" /}